.Login {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
      font-style: italic;
      background: rgb(235, 238, 241);
      border: 5px double darkblue;
      padding: 10px 20px 10px 20px;
      margin: 20px auto;
      margin-top: 250px;
      max-height: 220px;
      width: 300px;
}

#a {
    padding: 1em;
    background: rgba(114, 122, 231, 0.63);
    border-right: 1px solid rgba(114, 122, 231, 0.63);
    color: #000000;
    font-size: 20px;
      background: white;
      font-style: italic;
      border-radius: 12px;
      border: 5px blue;
      box-shadow: 0 8px 12px rgba(0, 0, 0, 0.432), 0 5px 8px rgba(12, 6, 6, 0.486);
}
#a:hover {
    background: rgba(114, 122, 231, 0.63);
}

#warning{
    min-height: 15px;
    font-size: small;
    color: blue;
}
